0x0A-csharp-generics/0-queue/bin/Debug/netcoreapp2.1/0-queue.deps.json
0x0A-csharp-generics/0-queue/bin/Debug/netcoreapp2.1/0-queue.dll
0x0A-csharp-generics/0-queue/bin/Debug/netcoreapp2.1/0-queue.pdb
0x0A-csharp-generics/0-queue/bin/Debug/netcoreapp2.1/0-queue.runtimeconfig.dev.json
0x0A-csharp-generics/0-queue/bin/Debug/netcoreapp2.1/0-queue.runtimeconfig.json
0x0A-csharp-generics/0-queue/obj/0-queue.csproj.nuget.dgspec.json
0x0A-csharp-generics/0-queue/obj/0-queue.csproj.nuget.g.props
0x0A-csharp-generics/0-queue/obj/0-queue.csproj.nuget.g.targets
0x0A-csharp-generics/0-queue/obj/project.assets.json
0x0A-csharp-generics/0-queue/obj/project.nuget.cache
0x0A-csharp-generics/0-queue/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
0x0A-csharp-generics/0-queue/obj/Debug/netcoreapp2.1/0-queue.AssemblyInfo.cs
0x0A-csharp-generics/0-queue/obj/Debug/netcoreapp2.1/0-queue.AssemblyInfoInputs.cache
0x0A-csharp-generics/0-queue/obj/Debug/netcoreapp2.1/0-queue.assets.cache
0x0A-csharp-generics/0-queue/obj/Debug/netcoreapp2.1/0-queue.csproj.CoreCompileInputs.cache
0x0A-csharp-generics/0-queue/obj/Debug/netcoreapp2.1/0-queue.csproj.FileListAbsolute.txt
0x0A-csharp-generics/0-queue/obj/Debug/netcoreapp2.1/0-queue.csprojAssemblyReference.cache
0x0A-csharp-generics/0-queue/obj/Debug/netcoreapp2.1/0-queue.dll
0x0A-csharp-generics/0-queue/obj/Debug/netcoreapp2.1/0-queue.genruntimeconfig.cache
0x0A-csharp-generics/0-queue/obj/Debug/netcoreapp2.1/0-queue.pdb
0x0A-csharp-generics/1-enqueue/bin/Debug/netcoreapp2.1/0-queue.deps.json
0x0A-csharp-generics/1-enqueue/bin/Debug/netcoreapp2.1/0-queue.dll
0x0A-csharp-generics/1-enqueue/bin/Debug/netcoreapp2.1/0-queue.pdb
0x0A-csharp-generics/1-enqueue/bin/Debug/netcoreapp2.1/0-queue.runtimeconfig.dev.json
0x0A-csharp-generics/1-enqueue/bin/Debug/netcoreapp2.1/0-queue.runtimeconfig.json
0x0A-csharp-generics/1-enqueue/bin/Debug/netcoreapp2.1/1-enqueue.deps.json
0x0A-csharp-generics/1-enqueue/bin/Debug/netcoreapp2.1/1-enqueue.dll
0x0A-csharp-generics/1-enqueue/bin/Debug/netcoreapp2.1/1-enqueue.pdb
0x0A-csharp-generics/1-enqueue/bin/Debug/netcoreapp2.1/1-enqueue.runtimeconfig.dev.json
0x0A-csharp-generics/1-enqueue/bin/Debug/netcoreapp2.1/1-enqueue.runtimeconfig.json
0x0A-csharp-generics/1-enqueue/obj/0-queue.csproj.nuget.dgspec.json
0x0A-csharp-generics/1-enqueue/obj/0-queue.csproj.nuget.g.props
0x0A-csharp-generics/1-enqueue/obj/0-queue.csproj.nuget.g.targets
0x0A-csharp-generics/1-enqueue/obj/1-enqueue.csproj.nuget.dgspec.json
0x0A-csharp-generics/1-enqueue/obj/1-enqueue.csproj.nuget.g.props
0x0A-csharp-generics/1-enqueue/obj/1-enqueue.csproj.nuget.g.targets
0x0A-csharp-generics/1-enqueue/obj/project.assets.json
0x0A-csharp-generics/1-enqueue/obj/project.nuget.cache
0x0A-csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
0x0A-csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/0-queue.AssemblyInfo.cs
0x0A-csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/0-queue.AssemblyInfoInputs.cache
0x0A-csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/0-queue.assets.cache
0x0A-csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/0-queue.csproj.CoreCompileInputs.cache
0x0A-csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/0-queue.csproj.FileListAbsolute.txt
0x0A-csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/0-queue.csprojAssemblyReference.cache
0x0A-csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/0-queue.dll
0x0A-csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/0-queue.genruntimeconfig.cache
0x0A-csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/0-queue.pdb
0x0A-csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.AssemblyInfo.cs
0x0A-csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.AssemblyInfoInputs.cache
0x0A-csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.assets.cache
0x0A-csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.csproj.CoreCompileInputs.cache
0x0A-csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.csproj.FileListAbsolute.txt
0x0A-csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.csprojAssemblyReference.cache
0x0A-csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.dll
0x0A-csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.genruntimeconfig.cache
0x0A-csharp-generics/1-enqueue/obj/Debug/netcoreapp2.1/1-enqueue.pdb
0x0A-csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/0-queue.deps.json
0x0A-csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/0-queue.dll
0x0A-csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/0-queue.pdb
0x0A-csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/0-queue.runtimeconfig.dev.json
0x0A-csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/0-queue.runtimeconfig.json
0x0A-csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/1-enqueue.deps.json
0x0A-csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/1-enqueue.dll
0x0A-csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/1-enqueue.pdb
0x0A-csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/1-enqueue.runtimeconfig.dev.json
0x0A-csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/1-enqueue.runtimeconfig.json
0x0A-csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/2-dequeue.deps.json
0x0A-csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/2-dequeue.dll
0x0A-csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/2-dequeue.pdb
0x0A-csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/2-dequeue.runtimeconfig.dev.json
0x0A-csharp-generics/2-dequeue/bin/Debug/netcoreapp2.1/2-dequeue.runtimeconfig.json
0x0A-csharp-generics/2-dequeue/obj/0-queue.csproj.nuget.dgspec.json
0x0A-csharp-generics/2-dequeue/obj/0-queue.csproj.nuget.g.props
0x0A-csharp-generics/2-dequeue/obj/0-queue.csproj.nuget.g.targets
0x0A-csharp-generics/2-dequeue/obj/1-enqueue.csproj.nuget.dgspec.json
0x0A-csharp-generics/2-dequeue/obj/1-enqueue.csproj.nuget.g.props
0x0A-csharp-generics/2-dequeue/obj/1-enqueue.csproj.nuget.g.targets
0x0A-csharp-generics/2-dequeue/obj/2-dequeue.csproj.nuget.dgspec.json
0x0A-csharp-generics/2-dequeue/obj/2-dequeue.csproj.nuget.g.props
0x0A-csharp-generics/2-dequeue/obj/2-dequeue.csproj.nuget.g.targets
0x0A-csharp-generics/2-dequeue/obj/project.assets.json
0x0A-csharp-generics/2-dequeue/obj/project.nuget.cache
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/0-queue.AssemblyInfo.cs
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/0-queue.AssemblyInfoInputs.cache
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/0-queue.assets.cache
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/0-queue.csproj.CoreCompileInputs.cache
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/0-queue.csproj.FileListAbsolute.txt
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/0-queue.csprojAssemblyReference.cache
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/0-queue.dll
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/0-queue.genruntimeconfig.cache
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/0-queue.pdb
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/1-enqueue.AssemblyInfo.cs
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/1-enqueue.AssemblyInfoInputs.cache
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/1-enqueue.assets.cache
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/1-enqueue.csproj.CoreCompileInputs.cache
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/1-enqueue.csproj.FileListAbsolute.txt
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/1-enqueue.csprojAssemblyReference.cache
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/1-enqueue.dll
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/1-enqueue.genruntimeconfig.cache
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/1-enqueue.pdb
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.AssemblyInfo.cs
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.AssemblyInfoInputs.cache
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.assets.cache
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.csproj.CoreCompileInputs.cache
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.csproj.FileListAbsolute.txt
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.csprojAssemblyReference.cache
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.dll
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.genruntimeconfig.cache
0x0A-csharp-generics/2-dequeue/obj/Debug/netcoreapp2.1/2-dequeue.pdb
